<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 组件自动扫描 -->
    <context:component-scan base-package="com.company"/>
    <!-- 注入SessionFactory对象，名称sessionFactory（dataSource） -->
    <context:property-placeholder location="classpath:properties/db.properties"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${con.driver_class}"/>
        <property name="jdbcUrl" value="${con.url}"/>
        <property name="user" value="${con.username}"/>
        <property name="password" value="${con.password}"/>
        <property name="minPoolSize" value="${c3p0.min_size}"/>
        <property name="maxPoolSize" value="${c3p0.max_size}"/>
        <property name="acquireIncrement" value="${c3p0.acquire_increment}"/>
        <property name="idleConnectionTestPeriod" value="${c3p0.idle_test_period}"/>
        <property name="checkoutTimeout" value="${c3p0.timeout}"/>
        <property name="maxStatements" value="${c3p0.max_statements}"/>
    </bean>

    <!-- 在获得了c3p0数据源之后，配置Hibernate的SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置hibernate所必须依赖的两个配置文件（hibernate.cfg.cml，*.hbm.xml） -->
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="mappingLocations" value="classpath:mapper/*.hbm.xml"/>
    </bean>

    <!-- AOP特性，事务管理器,service中可以使用@Transaction注解 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>